<div class="app">
  <div class="app__header">
    <mat-toolbar>
      <span>
        <img src="images/questlogo2.png" alt="Logo" [style.height.em]="2">
      </span>
      <span class="example-spacer"></span>

    </mat-toolbar>

  </div>
  <div class="app__content">
    <app-message-display></app-message-display>
    <mat-sidenav-container class="app__content__menu-container" [hasBackdrop]="true">
      <mat-sidenav #sidenav mode="over" [(opened)]="opened" class="app__content__side-nav">
        <div class="app__content__side-nav__items">
          <button mat-button class="app__content__side-nav__items__item" routerLink="/home">Home</button>
          <button mat-button class="app__content__side-nav__items__item" routerLink="/user-info">Add User</button>
          <button mat-button class="app__content__side-nav__items__item" routerLink="/users-list">List Users</button>
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <button mat-icon-button (click)="sidenav.toggle()" class="menu-icon"
          aria-label="icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="app__content__outlet-panel">
          <router-outlet />
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div class="app__footer">

  </div>
</div>