.user-info {
    &__form {
        justify-content: center;
        display: flex;
        .small-media{
            width: 100%;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 50%;
            .ip-filed{
                margin-top: .6em;
            }
            .error-info{
                color: #ba1a1a;
            }
            .form-buttons{
                margin-top: 1em;
                display: flex;
                gap: 1em;
                justify-self: right;
                &__btn{
                    width: 50%;
                }
            }
        }
        &__notes{
            margin-top: 4em;
            font-size: .8em;
            font-style: italic;
        }

    }
}